[build-system]
requires = ["pdm-backend"]
build-backend = "pdm.backend"

[project]
authors = [
  {email = "louismmx@gmail.com", name = "Louis Maddox"}
]
classifiers = [
  "Development Status :: 4 - Beta",
  "Programming Language :: Python :: 3",
  "Operating System :: OS Independent",
  "License :: OSI Approved :: MIT License",
  "Programming Language :: Python :: 3.9",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: 3.11",
  "Programming Language :: Python :: 3.12",
  "Topic :: Multimedia :: Graphics :: Graphics Conversion",
  "Topic :: Scientific/Engineering :: Image Processing"
]
dependencies = [
  "numpy>1.25",
  # NumPy 1.25+ equires Python >= 3.9
  "matplotlib",
  "scipy",
  "sympy",
  "opencv-python",
  "tomlkit",
  "toml",
  "msgspec>=0.18.6",
]
description = "Page dewarping and thresholding using a cubic sheet model."
keywords = [
  "image processing",
  "cubic spline",
  "dewarping",
  "document scanning",
  "image correction",
  "computer vision"
]
license = {text = "MIT"}
name = "page-dewarp"
readme = "README.md"
requires-python = ">=3.9,<3.13"
version = "0.1.5"

[project.scripts]
page-dewarp = "page_dewarp.__main__:main"

[project.urls]
Homepage = "https://github.com/lmmx/page-dewarp"
Repository = "https://github.com/lmmx/page-dewarp.git"
